pkgbase = rings-bin
	pkgdesc = DaisyDisk-style disk usage TUI
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/zachwilke/rings
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	provides = rings
	conflicts = rings
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/zachwilke/rings/v0.3.3/LICENSE
	sha256sums = 7d6bbd30b08d7d81fd006d07e78daf0f73fe24ec36ec44e85ac1e13d74b58a49
	source_x86_64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.3/rings-x86_64-linux-musl.xz
	sha256sums_x86_64 = 1987bb4948a61872a663b01506093587748d0eb4b5b4f86443b63ea2ed140490
	source_aarch64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.3/rings-aarch64-linux-musl.xz
	sha256sums_aarch64 = 355a218d326dbe42a70d3fc7faf75d380df6d250c9c8f736c347fd2e9e03118e
	source_armv7h = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.3/rings-armv7-linux-musleabihf.xz
	sha256sums_armv7h = 9adb038a4ce9b8dc91da1793e3ab533a001bc2e3efe374a7c231368d08a3427e
pkgname = rings-bin
