pkgbase = rings-bin
	pkgdesc = DaisyDisk-style disk usage TUI
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/zachwilke/rings
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	provides = rings
	conflicts = rings
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/zachwilke/rings/v0.3.0/LICENSE
	sha256sums = 7d6bbd30b08d7d81fd006d07e78daf0f73fe24ec36ec44e85ac1e13d74b58a49
	source_x86_64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-x86_64-linux-musl.xz
	sha256sums_x86_64 = b64c07fd6f3c3827646e016476d119e68188319cd939a3796f8605cf821ef4e1
	source_aarch64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-aarch64-linux-musl.xz
	sha256sums_aarch64 = 95647a952c37ce97e481cea5d76fedcd02a1f63b7ff62da6199691f66b25ed9e
	source_armv7h = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-armv7-linux-musleabihf.xz
	sha256sums_armv7h = 66f6c042c69c92e20742feba6238be479a785ab2c0ad3f1a26225134ea89d77c
pkgname = rings-bin
