pkgbase = rings-bin
	pkgdesc = DaisyDisk-style disk usage TUI
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/zachwilke/rings
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	provides = rings
	conflicts = rings
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/zachwilke/rings/v0.3.0/LICENSE
	sha256sums = 7d6bbd30b08d7d81fd006d07e78daf0f73fe24ec36ec44e85ac1e13d74b58a49
	source_x86_64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-x86_64-linux-musl.xz
	sha256sums_x86_64 = 110558a71d279c3beb4f759641c5effea8b44d4e9e6e7914f1be7130da7432d8
	source_aarch64 = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-aarch64-linux-musl.xz
	sha256sums_aarch64 = 6a07c2e9b2ca43f2a6e6e151c8f53f8f5b319ecc84c92ac00891284085139349
	source_armv7h = rings.xz::https://github.com/zachwilke/rings/releases/download/v0.3.0/rings-armv7-linux-musleabihf.xz
	sha256sums_armv7h = 108e926a27afd95c44610f78aa1236c2b892c31bd5586322d13c803308fa2770
pkgname = rings-bin
